settings.ini
db/*.db
__pycache__
env
geckodriver
bin
include
lib
lib64
pyvenv.cfg
geckodriver.log
.vscode
templates/_base
.venv
docker-compose.yml
docker-compose.stage.yml
config/prod.py
migrations
migrations/*
media/uploads/*
config/localtest.py
celerybeat*