{% macro download(action, row_id, row) %}
  <button typen="submit" data-object_id={{ get_pk_value(row) }} data-action="doc_review" class="ml-2 border-0 bg-transparent" title="{{ _gettext('Review Linked Document') }}">
    <i class="fas fa-eye"></i>
  </button>
{% endmacro %}
{% macro upload(action, row_id, row) %}
  <button type="submit" data-object_id="{{ get_pk_value(row) }}" data-action="doc_upload" class="ml-2 border-0 bg-transparent" title="{{ _gettext('Upload Related Document') }}">
    <i class="fas fa-upload"></i>
  </button>
{% endmacro %}
{% macro delete(action, row_id, row) %}
  <button type="submit" data-object_id="{{ get_pk_value(row) }}" data-action="doc_delete" class="ml-2 border-0 bg-transparent" title="{{ _gettext('Unlink Related Document') }}">
    <i class="fas fa-unlink"></i>
  </button>
{% endmacro %}
