.slist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .slist li {
    margin: 10px;
    padding: 15px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
  }
  
    .slist li.hint {
    border: 1px solid #ffc49a;
    background: #feffb4;
  }
  .slist li.active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
  }