{% extends 'myadmin3/my_master.html' %}

{% block head %}
    {% block head_meta %}
    {% endblock head_meta %}
    {% if not ( current_user.is_admin or current_user.is_staff) %}
    {% endif %}
{% endblock head %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    {% if current_user.is_authenticated %}
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ admin_view.admin.url }}">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>    
    <section class="content">

      {% include 'admin/dashboard_elements.html' %}

    </section>
    {% else %}   
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{{ site_name | safe }}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ admin_view.admin.url }}">Home</a></li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>    
    <section class="content">
        <div class="container-fluid">

            <div class="jumbotron">
                <h1>Welcome to {{ site_name | safe }}</h1>
                <span class="lead">
                    Please log in to continue.
                </span>
                <hr class="my-4">
                {% if form is defined %}
                    <form method="POST" action="">
                        {{ form.hidden_tag() if form.hidden_tag }}
                        {% for f in form if f.type != 'CSRFTokenField' %}
                        <div class="form-group">
                        {{ f.label }}<br>
                        {{ f }}
                        {% if f.errors %}
                        <ul>
                            {% for e in f.errors %}
                            <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                {% endif %}
            </div>    
        </div>
    </section>
    {% endif %}
</div>
{% endblock body %}

{% block tail %}
<script src="/assets/js/fixadmin.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
      if ($('#contract_list')) {
        $('#contract_list').DataTable();
      }
    });
</script>
{% endblock tail %}