<!DOCTYPE html>
<html>

{% include ('site_header.html') %}
{% include ('body_stylingc.html') %}
{% include ('otp_style.html') %}

<body class="bg-gradient-primary">
    <div class="container">
        <div class="flex-grow-1 pt-3 pb-1">
            <h1 class="text-white text-center"><img src="/assets/img/app001_white.svg" class="img-fluid mx-auto p-1" width="75px">{{ app_config.app_name }}</h1>
        </div>
        <div class="card shadow-lg o-hidden border-0 my-2">
            <div class="card-body p-1">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 ">
                            <img src="/assets/img/app001.svg" class="img-fluid mx-auto d-block p-2" alt="{{ app_config.app_name }}" width="300">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-2">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">
                                Please input your email to start password recovery process.
                                </h4>
                            </div>
                            <hr>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                            {% if messages %}
                                {% for category, message in messages %}
                                {% include('alert.html') %}
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <form class="user needs-validation" id="forgot_form" >
                                <div class="mb-3"><input class="form-control form-control-user" type="email" id="mail" aria-describedby="mail" placeholder="Enter your email..." name="mail" autofocus="autofocus" required></div>
                                <div class="invalid-feedback">
                                    Please enter a valid email.
                                </div>
                                <div class="mb-3">
                                </div><button class="btn btn-primary d-block btn-user w-100" type="submit" id="forgot_btn">Password recovery</button>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="/">Login to the system!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- OTP Modal -->
    <div class="modal fade" id="otpCheck" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Recuperar Contraseña - Validar Código</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ingrese el código enviado al correo <strong><span id="mail_sent_to"></span></strong>.</p>
                <p>Si no recibe su código por correo, por favor solicitarlo llamando al <strong>+593991513936</strong>. NO CIERRE ESTE DIALOGO, al cerrarlo tendrá que solicitar otro código.</p>
                <p class="text-center small">
                    <span class="spinner-border spinner-border-sm text-success" role="status" aria-hidden="true"></span>
                    <span class="text-success" id="timer"></span>
                </p>
                <div class="text-center" id="alerterotp"></div>
                <input class="form-control form-control-user visually-hidden" type="email" id="dmail" aria-describedby="dmail" placeholder="Correo electrónico..." name="dmail" readonly disabled>
                <div class="card shadow mb-2 flex-fill">
                    <div class="card-body mx-auto">
                        <form class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off" id="forgot_otp" >
                            {% include('temp_digits.html') %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelBtn">Cerrar</button>
                <button type="button" class="btn btn-primary" id="otpBtn">Confirmar código</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Pass Change Modal -->
    <div class="modal fade" id="pass_change" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Recuperar Contraseña - Cambiar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ingrese Contraseña nueva y confirmación para <strong><span id="mail_sent_to2"></span></strong>.</p>
                <div class="text-center" id="alerterotp2"></div>
                <form class="user needs-validation" id="reset_form" autocomplete="off">
                    <div class="col-sm-6"><input class="form-control form-control-user visually-hidden" type="email" id="dmail2" aria-describedby="dmail2" placeholder="Correo electrónico..." name="dmail2" readonly disabled></div>
                    <div class="col"><input class="form-control form-control-user" type="password" id="password" placeholder="Contraseña nueva..." name="password" required></div>
                    <br>
                    <div class="col"><input class="form-control form-control-user" type="password" id="password_repeat" placeholder="Confirmar contraseña nueva..." name="password_repeat" required></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelPass">Cerrar</button>
                <button type="button" class="btn btn-primary" id="passBtn">Cambiar contraseña</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="reset_success" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Contraseña cambiada!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Contraseña cambiada exitosamente!</h4>
                    <p>Su contraseña ha sido actualizada, por favor espere 5 segundos o haga click <a href="/">aqui</a> para regresar a la pantalla de ingreso.</p>
                    <hr>
                    <p class="mb-0">{{ app_config.app_name }}</p>
                </div>                
            </div>
        </div>
        </div>
    </div>


    {% include ('site_upper.html') %}
    {% include ('site_footer.html') %}
    {% include ('site_scripts.html') %}
    <script src="assets/js/otp_init.js"></script>
    <script src="assets/js/forgot.js"></script>
    <script src="assets/js/otp_control.js"></script>
</body>
</html>