<div aria-live="polite" aria-atomic="true" class="position-relative" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast-container position-fixed top-0 end-0 p-3"> 
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="fa fa-bell"></i>
            <strong class="me-auto">&nbsp;Notificación</strong>
            <small class="text-muted"></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-white fw-bold">
        </div>
      </div>
    </div>
  </div>


<div>&nbsp;</div>
<footer class="footer bg-black bg-gradient pt-0 fixed-bottom">
    <div class="container">
        <div class="text-center copyright text-white small">
            <span class="text-white">{{ app_config.app_copy | safe }}</span>
        </div>
    </div>
</footer>
